{% load static %}
<html >
<head>
	<title>Интересный сайт</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link rel="shortcut icon" href="css/images/favicon.ico" />
</head>
<body>
<div class="shell">
	<div class="border">

		<div id="navigation">
			<ul>
			    <li><a href="/" class="active">Главная</a></li>
			    <li><a href="/admin">Админ панель</a></li>
			    
			</ul>
		</div>

		<div id="main">
			<div id="content" class="left">
				
				<div class="projects">
					<h3>Публикации</h3>
					{% for publication in publication_list %}
					<div class="item">
						<div class="image left">
							<img src="{{ publication.img.url }}" width="200px" />
						</div>
						<div class="text left">
							<hr>
							<h2><a href="{{ publication.id }}">{{ publication.title }}</a></h2>
							<hr><p>{{ publication.description }}</p>
							<h5>Автор: {{ publication.author }}</h5>
							<hr>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					 {% endfor %}
				</div>
			</div>
			
			<div class="cl">&nbsp;</div>
		</div>
		

	</div>
	
	<div id="footer">
		<p class="copy right">Copyright &copy; 2024 </p>
	</div>
</div>
</body>
</html>